@import url(https://fonts.googleapis.com/css?family=Karla);
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    font-family: "Karla";
    box-sizing: border-box;
}

/* Responsiveness edits */

@media (max-width: 767.999999px) {
    .hideme {
        display: none;
    }
}

.mainvideo {
    max-width: 100%;
    min-width: 100%;
    height: auto;
}

/* make stats not explode*/
@media (max-width: 870px) {
    .stats {
        flex-direction: column;
        padding-left: 0;
        padding-right: 0;
    }

    .top-stuff {
        padding-left: 2rem;
        padding-right: 0;
    }
    .bottom-stuff {
        padding-left: 0;
        padding-right: 0;
    }
    .rocket-img {
        display: none;
    }
}

.rocket-pulse {
    order: 1;
}

@media (max-width: 1140px) {
    .research-pdf {
        display: none;
    }
}

@media (max-width: 1080px) {
    .timeline-images {
        flex-direction: column-reverse;
    }
}

@media (max-width: 960px) {
    .aditya {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .adi-pic {
        width: 50vw;

        height: 50vw;
    }
}
@media (min-width: 960.0001px) {
    .adi-pic,
    .adi-desc {
        flex-basis: 50vw;
    }
}

.vp-flex {
    flex-direction: row;
    gap: 20vw;
    justify-content: space-evenly;
}
