@import url(https://fonts.googleapis.com/css?family=Karla);
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  font-family: 'Karla';
  box-sizing: border-box;
}